.main3{data: {id:"#{message.id}"}}
  .main2
  .main3__user
    = message.user.name 
  .main3__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main3__chat
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

    